$primary: #b0bec5;
$secondary: #808e95;
$primary-action: #e2f1f8;

@import "~bootstrap/scss/bootstrap";

.container-1600 {
	max-width: 1600px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}