.navbar .header-logo {
	transition: width 0.1s linear;
}

.navbar.header-state-open .header-logo {
	width: 160px;
}

.navbar.header-state-closed .header-logo {
	width: 100px;
}

//I really don't like this solution but it's staying until I can find something better
.navbar.header-state-open {
	max-height: 216px;
}

.navbar.header-state-closed {
	max-height: 146px;
}

.navbar {
	transition: max-height 0.1s linear;
}